WebLoginTest/WebContent/wsdl/Monitor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://WebServicesTest.aa" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://WebServicesTest.aa" xmlns:intf="http://WebServicesTest.aa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://WebServicesTest.aa" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="divideNumbers">
    <complexType>
     <sequence>
      <element name="dividend" type="xsd:int"/>
      <element name="divisor" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divideNumbersResponse">
    <complexType>
     <sequence>
      <element name="divideNumbersReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="DivideNumbersException">
    <sequence/>
   </complexType>
   <element name="fault" type="impl:DivideNumbersException"/>
   <element name="addNumbers">
    <complexType>
     <sequence>
      <element name="number1" type="xsd:int"/>
      <element name="number2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addNumbersResponse">
    <complexType>
     <sequence>
      <element name="addNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="DivideNumbersException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNumbersRequest">

      <wsdl:part element="impl:addNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divideNumbersResponse">

      <wsdl:part element="impl:divideNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNumbersResponse">

      <wsdl:part element="impl:addNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divideNumbersRequest">

      <wsdl:part element="impl:divideNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Monitor">

      <wsdl:operation name="divideNumbers">

         <wsdl:input message="impl:divideNumbersRequest" name="divideNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:divideNumbersResponse" name="divideNumbersResponse">

       </wsdl:output>

         <wsdl:fault message="impl:DivideNumbersException" name="DivideNumbersException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addNumbers">

         <wsdl:input message="impl:addNumbersRequest" name="addNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:addNumbersResponse" name="addNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MonitorSoapBinding" type="impl:Monitor">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="divideNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divideNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divideNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="DivideNumbersException">

            <wsdlsoap:fault name="DivideNumbersException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MonitorService">

      <wsdl:port binding="impl:MonitorSoapBinding" name="Monitor">

         <wsdlsoap:address location="http://localhost:8080/WebLoginTest/services/Monitor"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
